# Django Core
Django~=5.2.17
django-environ
psycopg2-binary==2.9.10

# Django Extensions
django-apscheduler
django-auditlog
django-cors-headers
django-filter
django-import-export
django-mathfilters
django-model-utils
django-redis==5.4.0
django-simple-history
django-storages
django-widget-tweaks

# REST Framework
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
drf-yasg

# Data Processing (Report साठी)
openpyxl
XlsxWriter

# PDF Reports
reportlab==4.0.9
xhtml2pdf

# Web & HTML
beautifulsoup4
requests
requests-oauthlib
bleach==6.2.0

# Google Integration (फक्त Auth, Storage नाही)
google-api-python-client
google-auth-oauthlib

# Geolocation
geopy

# Biometric
pyzk==0.9

# Image & Security
pillow
cryptography==44.0.2

# Notifications
swapper

# Static Files & Server
whitenoise==6.9.0
gunicorn==23.0.0

# Background Tasks
APScheduler

# Date & Time
python-dateutil
pytz

# Internationalization
arabic-reshaper
click
phonenumbers==9.0.37
pycountry==24.6.1
python-bidi
rapidfuzz==3.9.6

# Deployment
setuptools
wheel

# Other
packaging
coverage>=7.0